<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!--    Projet -->
  <servlet>
        <servlet-name>CreerProjet</servlet-name>
        <servlet-class>Web.Projet.CreerProjet</servlet-class>
    </servlet>
   <servlet-mapping>
    <servlet-name>CreerProjet</servlet-name>
     <url-pattern>/add_Projet</url-pattern>
   </servlet-mapping>

    <servlet>
        <servlet-name>Afficherprojet</servlet-name>
        <servlet-class>Web.Projet.Afficherprojet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Afficherprojet</servlet-name>
        <url-pattern>/Afficherprojet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProjet</servlet-name>
        <servlet-class>Web.Projet.editProjet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProjet</servlet-name>
        <url-pattern>/editProjet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProjet</servlet-name>
        <servlet-class>Web.Projet.DeleteProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProjet</servlet-name>
        <url-pattern>/deleteProjet</url-pattern>
    </servlet-mapping>



   <!--     tache  -->
    <servlet>
        <servlet-name>AfficherTache</servlet-name>
        <servlet-class>Web.Tache.AfficherTache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherTache</servlet-name>
        <url-pattern>/AfficherTache</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreerTache</servlet-name>
        <servlet-class>Web.Tache.CreerTache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreerTache</servlet-name>
        <url-pattern>/CreerTache</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTache</servlet-name>
        <servlet-class>Web.Tache.DeleteTache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTache</servlet-name>
        <url-pattern>/DeleteTache</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditTache</servlet-name>
        <servlet-class>Web.Tache.EditTache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTache</servlet-name>
        <url-pattern>/EditTache</url-pattern>
    </servlet-mapping>

</web-app>