<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
        <servlet-name>CreerProjet</servlet-name>
        <servlet-class>Web.Projet.CreerProjet</servlet-class>
    </servlet>
   <servlet-mapping>
    <servlet-name>CreerProjet</servlet-name>
     <url-pattern>/add_Projet</url-pattern>
   </servlet-mapping>

    <servlet>
        <servlet-name>Afficherprojet</servlet-name>
        <servlet-class>Web.Projet.Afficherprojet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Afficherprojet</servlet-name>
        <url-pattern>/Afficherprojet</url-pattern>
    </servlet-mapping>

</web-app>